/*
 * Copyright (c) 2022 dfeagans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BAS_L 0
#define SYM_L 1
#define NAV_L 2
#define FUN_L 3


// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };


    macros {
        DIA: DIA {
            label = "Diameter";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };
        DEG: DEG {
            label = "Degrees";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };
        PM: PM {
            label = "PlusMinus";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N2 &kp KP_N4 &kp KP_N1>
                , <&macro_release &kp LALT>
                ;
        };
        DELTA: DELTA {
            label = "Delta Triangle";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N3 &kp KP_N0>
                , <&macro_release &kp LALT>
                ;
        };
        POW1: POW1 {
            label = "Power 1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N8 &kp KP_N5>
                , <&macro_release &kp LALT>
                ;
        }; 
        POW2: POW2 {
            label = "Power 2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        POW3: POW3 {
            label = "Power 3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N9>
                , <&macro_release &kp LALT>
                ;
        }; 
    };
    
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp Q      &kp W      &kp E       &kp R          &kp T            &kp Y            &kp U          &kp I           &kp O          &kp P
                &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F    &kp G            &kp H            &hm RSHFT J    &hm RCTRL K     &hm LALT L     &hm DQT QUOT
                &kp Z      &kp X      &kp C       &kp V          &kp B            &kp N            &kp M          &mt SEMI COMMA  &mt COLON DOT  &kp FSLH
                                                  &hm LSHFT TAB  &lt NAV_L SPACE  &lt SYM_L BKSP    &lt FUN_L RET
            >;
        };
        
        
        sym_layer {
            label = "Sym";
            bindings = <
                &kp N1      &kp N2          &kp N3          &kp N4           &kp N5    &kp N6       &kp N7           &kp N8            &kp N9          &kp N0
                &hm LGUI LT &hm LALT PRCNT  &hm LCTRL LPAR  &hm LSHFT LBRC   &kp LBKT  &kp EQUAL    &hm RSHFT QMARK  &hm RCTRL UNDER   &hm LALT PLUS   &kp STAR
                &kp GT      &kp DLLR        &kp RPAR        &kp RBRC         &kp RBKT  &kp AT       &kp EXCL         &kp MINUS         &trans          &kp FSLH
                                                            &trans           &trans    &trans       &trans
            >;
        };
        
        nav_layer {
            label = "Nav";
            bindings = <
                &kp ESC    &kp UNDER  &DELTA      &DIA           &kp HASH      &kp PG_UP        &kp HOME       &kp UARW    &kp END    &kp CAPS
                &kp CARET  &kp TILDE  &kp BSLH    &kp PIPE       &kp AMPS      &kp PG_DN        &kp LARW       &kp DARW    &kp RARW   &kp DEL
                &trans     &kp GRAVE  &trans      &trans         &trans        &trans           &kp BKSP       &trans      &trans     &trans
                                                  &trans         &trans        &kp DEL          &kp ESC
            >;
        };
       
        fun_layer {
            label = "Fun";
            bindings = <
                &kp F1     &kp F2     &kp F3      &kp F4     &kp F5      &kp F6        &kp F7         &kp F8         &kp F9        &kp F10
                &PM        &DEG       &POW1       &POW2      &POW3       &kp F11       &kp F12        &kp PSCRN      &kp SLCK      &trans
                &trans     &trans     &trans      &trans     &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4
                                                  &trans     &trans      &trans        &trans
            >;
        };
    };
};
